body{
    background-color:black;
}

#h3{
    font-size:50px;
    color:aquamarine;
    font-family: 'Mitr', sans-serif;
}

#note{
    font-size:30px;
    color:aquamarine;
    font-family: 'Mitr', sans-serif;
}

#PlayButton{
    color:black;
    font-size:27px;
    background-color:aquamarine;
    border-radius:15px;
    height:50px;
    width:110px;
    font-family: 'Mitr', sans-serif;
}

.label{
    font-size:40px;
    color:aquamarine;
    font-family: 'Mitr', sans-serif;
}

#Speed_Div{
    float:left;
}

#Volume_Div{
    float:right;
}
canvas{
    border-color:aquamarine;
    border-style:solid;
    border-width:5px;
    border-radius:5px;

    margin-top:50px;
}